{% extends "layout.html" %}

{% block content %}
{% if users %}
<h2>Related User(s)</h2>
{% for user in users %}
<div class="card ml-1">
    <div class="card-body">
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}"
                 style="width: 150px; height: 150px;">
            <div class="media-body ml-4">
                <div class="article-metadata">
                    <small class="text-muted">{{user.email }}</small>
                </div>
                <h2><a class="article-title" href="{{url_for('user',post_id=user.id)}}">{{user.username}}</a></h2>
            </div>
        </article>
    </div>
</div>
{%endfor%}
{% else%}
{%endif%}
{% if posts %}
<h2>Related Post(s)</h2>
{% for post in posts %}
<div class="card ml-1">
    <div class="card-body">
<article class="media content-section">
     <img class=" rounded-circle pr-1 pt-2" width=150px height=150px;
                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body ml-4">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h1 class="article-title">{{ post.title }}</h1>
        <p class="article-content">{{ post.content }}</p>
        {% if current_user.has_liked_post(post) %}
          <i id="dislike" class="fas fa-heart"
        style="cursor: pointer; color=red; text-decoration=None;" onclick="myfunc()">{{post.likes.count() }} Like(s)</i>
         {% else %} -->
        <i id="like" class="fas fa-heart"
        style="cursor: pointer; color=white; text-decoration=None;" onclick="myfunc()">{{post.likes.count() }} Like(s)</i>
        {%endif%}
    </div>
</article>
    </div>
</div>
{% endfor %}
{%endif%}
{% endblock content %}